<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en" >
<head>
    <div th:replace="static-template :: head"></div>
    <title>G&M Pizza</title>
</head>

<body class="bg-image">
    <div th:insert="static-template :: aside-menu"></div>
    <div class="center">
        <h1 class="headline">Szczegóły konta</h1>
        <div class="details-box" th:object="${user}">
            <p>Nazwa użytkownika: <span class="box-headline" th:text="*{username}"></span></p>
            <p>Imię i nazwisko: <span class="box-headline" th:text="*{fullName}"></span></p>
            <p>E-mail: <span class="box-headline" th:text="*{email}"></span></p>
            <p>Nr. telefonu: <span class="box-headline" th:text="*{phone}"></span></p>
            <p>Adres: <span class="box-headline" th:text="*{street} + ', ' + *{city}"></span></p>
        </div>
        <div style="text-align: center;">
            <form action="/account/settings">
                <input type="submit" class="reg-button" value="Zmień dane konta" />
            </form>
        </div>
    </div>
</body>
</html>