<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en" >
<head>
    <div th:replace="static-template :: head"></div>
    <title>G&M Pizza</title>
</head>

<body class="bg-image">
    <div th:insert="static-template :: aside-menu"></div>
    <div class="center">
        <div class="container">
            <div class="row justify-content-center align-items-center ">
                <div class="col-md-3">
                    <a href="/"> <img class="logo-img img-fluid" th:src="@{/images/pizza.png}"></a>
                </div>
                <div class="col-md-9">
                    <h2 class="headline main-headline">Podsumowanie zamówienia</h2>
                </div>
            </div>
        </div>
        <div class="container" th:object="${order}">
            <div class="row justify-content-center align-items-center order-box ">
                <p class="co-main-headline" th:text="*{pizzas.size > 0 ? 'Wybrane pizze:' : 'Twoje zamówienie jest jeszcze puste' }"></p>
                <div class="row">
                    <div class="pizza-box justify-content-around" th:each="pizza : *{pizzas}">
                        <h6 class="box-headline">
                            <span>Szczegóły pizzy:</span>
                        </h6>
                        <div>Nazwa: <span style="font-size: 24px;" th:text="${pizza.pizzaName}">INGR</span></div>
                        <div>Ciasto: <span style="font-size: 24px;" th:text="${ingredientRepo.findById(pizza.pie).get().getName()}">INGR</span></div>
                        <div>Rozmiar: <span style="font-size: 24px;" th:text="${ingredientRepo.findById(pizza.size).get().getName()}">INGR</span></div>
                        <div>Sos podstawowy: <span style="font-size: 24px;" th:text="${ingredientRepo.findById(pizza.sauce).get().getName()}">INGR</span></div>
                        <br/>
                        <h6 class="box-headline">Dodatki:</h6>
                        <div th:each="ingredient : ${pizza.ingredients}">
                            <li> <span th:text="${ingredientRepo.findById(ingredient).get().getName()}" > </span></li>
                        </div>
                    </div>
                </div>
            </div>
            <div th:if="*{pizzas.size > 0}" style="text-align: center;">
                <form method="get" th:action="@{/orders/current/reset}" >
                    <input type="submit" class="reg-button" value="Usuń wszytskie pizze">
                </form>
            </div>
        </div>
        <div class="container">
            <div class=" row justify-content-around ">
                <div class="headline col-6">
                    <form method="get" th:action="@{/design}" >
                        <p>Chcesz dodać <span th:text="${order.pizzas.size > 0 ? 'kolejną ' : ''}"> </span>pizze do tego zamówienia?</p>
                        <input  type="submit" class="reg-button" value="Stwórz pizzę">
                    </form>
                </div>
                <div th:if="${order.pizzas.size > 0}" class="headline col-6">
                    <form method="get" th:action="@{/orders/form}" >
                        <p>To już wszystko?</p>
                        <input  type="submit" class="reg-button" value="Przejdź do płatności">
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>