<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en" >
<head>
    <div th:replace="static-template :: head"></div>
    <title>G&M Pizza</title>
</head>

<body class="bg-image">
    <div th:insert="static-template :: aside-menu"></div>
    <div class="center">
        <h1 class="headline main-headline">Jak korzystać ze strony G&M Pizza</h1>
        <div class="base-box text-box">
            <p>Strona G&M Pizza została stworzona z zamiarem przedstawiania jej jako części portfolio, które
            w przyszłości zostanie przedstawione potencjalnym pracodawcom. Strona nie jest skomplikowana czy
            wybitnie rozwinięta ze strony front-end'u, a jest to spowodowane moim ukierunkowaniem w stronę
            back-end'u. Mimo tego faktu uważam, że jest piękna jak na moje kompetencje w tym temacie :D </p>
            <p>Przechodząc do rzeczy, strona nie jest znaczocząco skomplikowana, dlatego uważam, że sekcja pomocy
            jest zbędna, a end-point i opcja w side bar zostały dodane dla urozmaicenia.
            Miłych "zakupów" ;D</p>
        </div>
    </div>
</body>
</html>