<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en" >

<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles/style.css}" rel="stylesheet" />
    <title>G&M Pizza</title>
</head>
<body class="bg-image">
    <img class="logo-img" th:src="@{/images/pizza.png}"/>
    <h1 class="headline main-headline">Witaj w G&M Pizza!</h1>
    <h2 class="headline co-main-headline">Tutaj stworzysz pizze jaką kochasz - sam zdecyduj co dziś zjesz. </h2>


</body>

</html>