<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en" >
<head>
    <div th:replace="static-template :: head"></div>
    <title>G&M Pizza</title>
</head>

<body class="bg-image">
    <div th:insert="static-template :: aside-menu"></div>
    <div class="center">
        <img class="logo-img" th:src="@{/images/pizza.png}"/>
        <h1 th:unless="${param.logout}" class="headline main-headline">Witaj w G&M Pizza!</h1>
        <h4 th:if="${param.logout}" class="headline">Pomyślnie wylogowano. Zapraszamy ponownie. :D</h4>
        <h2 class="headline co-main-headline">Tutaj stworzysz pizze jaką kochasz - sam zdecyduj co dziś zjesz. </h2>
        <div class="headline">
            <form method="get" action="/design">
                <button type="submit" class="btn btn-light confirm-button">Przejdź do wyboru składników -></button>
            </form>
        </div>
    </div>`
</body>
</html>