<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en" >
<head>
    <div th:replace="static-template :: head"></div>
    <title>G&M Pizza</title>
</head>

<body class="bg-image">
    <div th:insert="static-template :: aside-menu"></div>
    <div class="center">
        <div class="container">
            <div class="row justify-content-center align-items-center ">
                <div class="col-md-3">
                    <a href="/"> <img class="logo-img img-fluid" th:src="@{/images/pizza.png}"></a>
                </div>
                <div class="col-md-9">
                    <h2 class="headline main-headline">Wprowadź wymagane dane, aby się zalogować.</h2>
                </div>
            </div>
        </div>
        <form method="POST" th:action="@{/login}">
            <div class="container details-box">
                <div th:if="${param.error}" class="invalid-data mb-3">Nie znaleziono takiego użytkownika. Spróbuj ponownie.</div>
                <div class="align-items-center offset-1 col-10 mb-3">

                    <input type="text" class="form-control" name="username" placeholder="Nazwa użytkownika">
                </div>
                <div class="align-items-center offset-1 col-10 mb-3">
                    <input type="password" class="form-control" name="password" placeholder="Hasło">
                </div>
            </div>
            <div class="container headline">
                <div class="align-items-center mb-3">
                    <button type="submit" class="btn btn-light log-button">Zaloguj się</button>
                </div>
                <p class="info-text">Nie masz jeszcze konta?</p>
                <div class="align-items-center">
                    <a href="/registration" class="btn btn-light reg-button">Zarejestruj się</a>
                </div>
            </div>
        </form>
    </div>
</body>
</html>