<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en" >
<head>
    <div th:replace="static-template :: head"></div>
    <title>G&M Pizza</title>
</head>

<body class="bg-image">
    <div th:insert="static-template :: aside-menu"></div>
    <div class="center">
        <div class="container">
            <div class="row justify-content-center align-items-center ">
                <div class="col-md-3">
                    <a href="/"> <img class="logo-img img-fluid" th:src="@{/images/pizza.png}"></a>
                </div>
                <div class="col-md-9">
                    <h2 class="headline main-headline">Wprowadź wymagane dane, aby zarejestrować konto.</h2>
                </div>
            </div>
        </div>
        <form method="POST" th:object="${registrationForm}">
            <div class="container details-box">
                <div class="align-items-center offset-1 col-10 mb-3">
                    <input type="text" class="form-control" th:field="*{username}" placeholder="Nazwa użytkownika">
                    <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="invalid-data">
                        ERROR OCCURS</p>
                </div>
                <div class="align-items-center offset-1 col-10 mb-3">
                    <input type="text" class="form-control" th:field="*{email}" placeholder="E-mail">
                    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="invalid-data">
                        ERROR OCCURS</p>
                </div>
                <div class="align-items-center offset-1 col-10 mb-3">
                    <input type="password" class="form-control" th:field="*{password}" placeholder="Hasło">
                    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="invalid-data">
                    ERROR OCCURS</p>
                </div>
                <div class="align-items-center offset-1 col-10 mb-3">
                    <input type="text" class="form-control" th:field="*{fullName}" placeholder="Imię i nazwisko">
                    <p th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}" class="invalid-data">
                        ERROR OCCURS</p>
                </div>
                <div class="align-items-center offset-1 col-10 mb-3">
                    <input type="text" class="form-control" th:field="*{phone}" placeholder="Numer telefonu">
                    <p th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="invalid-data">
                        ERROR OCCURS</p>
                </div>
                <div class="align-items-center offset-1 col-10 mb-3">
                    <input type="text" th:field="*{street}" class="form-control" placeholder="Ulica i numer domu">
                    <p th:if="${#fields.hasErrors('street')}" th:errors="*{street}" class="invalid-data">
                        ERROR OCCURS</p>
                </div>
                <div class="align-items-center offset-1 col-10 mb-3">
                    <input type="text" th:field="*{city}" class="form-control" placeholder="Miejscowość" >
                    <p th:if="${#fields.hasErrors('city')}" th:errors="*{city}" class="invalid-data">
                        ERROR OCCURS</p>
                </div>
                <div class="align-items-center offset-1 col-10 mb-3">
                    <input type="text" th:field="*{zipCode}" class="form-control"  placeholder="Kod pocztowy" >
                    <p th:if="${#fields.hasErrors('zipCode')}" th:errors="*{zipCode}" class="invalid-data">
                        ERROR OCCURS</p>
                </div>
            </div>
            <div class="container headline">
                <div class="align-items-center mb-3">
                    <button type="submit" class="btn btn-light log-button">Zarejestruj konto</button>
                </div>
                <p class="info-text">Masz już konto?</p>
                <div class="align-items-center">
                    <a href="/login" class="btn btn-light reg-button">Zaloguj się</a>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
