@font-face {
    font-family: Engine;
    src: url('/fonts/Engine-Regular.otf');
}

body {
    background-image: url('/images/pizzaparty.gif');
    background-color: #aab8d1ff
}

.logo-img {
    max-height: 250px;
    border-radius: 100px;
    margin: 10px auto 20px;
    display: block;
    background-color: #28218f;
    box-shadow: 0px 5px 25px black;
}

.headline {
    width: fit-content;
    text-align: center;
    padding: 20px 30px;
    color: white;
    box-shadow: 0px 5px 25px black;
    text-shadow: 0px 5px 25px black;
    border-radius: 20px;
    background-color: #28218f;
    font-family: 'Engine';
    margin: 15px auto 15px auto;
}

.main-headline {
    font-size: 64px;
}

.co-main-headline {
    font-size: 32px;
}


.selection-box {
    width: fit-content;
    background-color: #28218f;
    text-align: center;
    margin: 20px 15px 20px 15px;
    padding: 15px 40px 15px 40px;
    color: white;
    font-family: 'Engine';
    box-shadow: 0px 5px 15px black;
    text-shadow: 0px 5px 5px black;
    border-radius: 20px;
    font-size: 18px;
}

.details-box {
    background-color: #28218f;
    text-align: center;
    margin: 20px auto 20px auto;
    padding: 15px 30px 15px 30px;
    font-family: 'Engine';
    box-shadow: 0px 5px 15px black;
    text-shadow: 0px 5px 5px black;
    border-radius: 20px;
    width: 80%;
}

.box-headline {
    font-size: 24px;
}

.full-width-headline {
    width: 90%;
}

.name-section {
    width: 60%;
    background-color: #28218f;
    text-align: center;
    margin: 15px auto 15px auto;
    padding: 15px 40px 15px 40px;
    color: white;
    font-family: 'Engine';
    box-shadow: 0px 5px 15px black;
    text-shadow: 0px 5px 5px black;
    border-radius: 20px;
}

.input-text{
    width: 100%;
}
.log-button {
    font-size: 22px;
    padding: 8px 40px 8px 40px;
}

.reg-button{
    font-size: 18px;
    padding: 4px 10px 4px 10px;
}

.invalid-data{
    color: #ff783e;
    margin-bottom: 0;
}

.info-text {
    color: #fff27d;
    margin: 0;
    font-size: 18px;
}

.order-box {
    background-color: #28218f;
    text-align: center;
    margin: 20px 15px 20px 15px;
    padding: 15px 40px 15px 40px;
    color: white;
    font-family: 'Engine';
    box-shadow: 0px 5px 15px black;
    text-shadow: 0px 5px 5px black;
    border-radius: 20px;
    font-size: 18px;
}

.pizza-box {
    background-color: #2e25b8;
    text-align: center;
    width: fit-content;
    margin: 20px auto 20px auto;
    padding: 15px 20px 15px 20px;
    font-family: 'Engine';
    box-shadow: 0px 5px 10px black;
    text-shadow: 0px 5px 5px black;
    border-radius: 20px;
}